/* Reglas de css */

body {
  font-family: arial;
}

h1, h2{
  color: blue;
}

h1{
  font-size: 140%;
  padding-bottom: 0.5em;
}

h2{
  font-size: 120%;
  font-style: italic;
  padding-bottom: 0.2em;
}

#divLogin{
  width: 40%;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem grey;
}
#divLogin input{
  margin: 0.3rem;
}
#divLogin button{
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  margin: 1rem;
  margin-left: 5rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
#divLogin button:hover{
  text-decoration: underline;
}
#divLogin p{
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#divLogin p:first-of-type{
  cursor: pointer;
  color: blue;
}
#divLogin p:first-of-type:hover{
  text-decoration: underline;
}
#divLogin p:nth-of-type(2){
  display: none;
  color: red;
  font-weight: bold;
}

#divMenuPrincipal{
	display: none;
}
